.input-block{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 1rem;
}
.input-block label{
    font-weight: 500;
}

.input-background{
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: var(--Neutral-700);
    border-radius: 1rem;

    transition: background-color 0.2s;
}
.input-block input{
    width: 100%;
    padding: 1rem;

    background-color: transparent;
    color: var(--Neutral-0);
    
    border: 0.1rem solid var(--Neutral-500);

    border-radius: 1rem;


    cursor: pointer;
    transition: background-color 0.2s  ease-in-out;

}
.input-block input:focus{
    outline: 1px solid var(--Neutral-300);
    outline-offset: 0.2rem;
}

.input-details{
    position: relative;
}

.input-details::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 1rem;
    background: var(--Neutral-700);
    z-index: -1;
}

.input-details input:hover{
    background-color: var(--Neutral-700);
}

.input-block input::placeholder{
    color: var(--Neutral-300);
}